<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat app</title>
    <script src="https://kit.fontawesome.com/745bd8c243.js" crossorigin="anonymous"></script>
    <script>const myId = "<%= id %>"</script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        body{
            background:#fff;
            overflow:hidden;
            height: 100vh;
            width: 100%;
        }
        .container{
            overflow:hidden;
            width:60%;
            background:rgba(230,230,230,0.1);
            position: relative;
            margin:auto;
            height:100vh;
            font-family: sans-serif;
            box-shadow: 0 0 10px gray;
        }
        #text{
            width:95%;
            height:40px;
            border:none;
            float:left;
            border:1px solid lightblue;
        }
        .box{
            width:100%;
            position: absolute;
            bottom: 5px;
            box-shadow: 0 5px 15px gray;
        }
        .btn{
            width:5%;
            height:40px;
            border:none;
            float:right;
            background:rgb(85, 66, 192);
            color:white;
        }
        .msg-box{
            width:100%;
            height:calc(100% - 40px);
            overflow:hidden auto;
            position:relative;
        }
        .dateDiv{
            font-size: 10px;
            display:flex;
            justify-content: space-between;
            color:#f4f4f4;
        }
        .date{
            margin-right:5px;
        }
        .mainDiv{
            padding:5px;
            margin:5px;
            background:linear-gradient(to right, #de2341, #4323de);
            border-radius: 10px 10px 10px 0;
            color:white;
        }
        .menu-container {
              display: none;
              cursor: pointer;
              float:right;
              margin:0 10px;
        }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #5a2a99;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
        header{
            height:0;
        }
        
        .nav{
            position:absolute;
            right:25px;
            top:30px;
            display: flex;
            height:200px;
            font-size: 30px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width:100px;
            transition: 0.4s cubic-bezier(0.2, 0.58, 0.835, 1.6045) all;

        }
        .nav i{
            cursor:pointer;
        }
        .nav i:hover{
            color:gray;
            transition:0.2s ease all;
        }
        .add{
            border-radius: 50%;
            font-size: 50px;
            background:#4320aa;
            color:white;
            position:absolute;
            right:20px;
            top:20px;
            text-align: center;
            padding:0 7px;
            display: none;
            border:none;
        }
		@media (max-width: 800px){
            .container{
                overflow: hidden;
                width:100%;
                height:calc(100vh - 50px);
                margin:0;
                border-radius: 0;
            }
            .nav{
                right:0;
                top:35px;
                height:100%;
                width:100%;
                background:#fdfdfd;
                display: none;
                z-index: 1;
                margin:0;
                transform:translateX(100%);

            }
            .msg-box{
                height:calc(100% - 80px)
            }
            .btn{
                width:10%;
                border-radius: 0;
            }
            #text{
                border-radius: 0;
                width:90%;
            }
            header{
                height:40px;
            }
            .menu-container{
                display: block;
            }
        }
       .nav.change{
           display:flex;
           transform:translateX(0);
       }
    </style>
</head>
<body>
    
    <nav class="nav">
           <a href="/video/"><i class="fas fa-video"></i></a>
           <a href="/voice/"><i class="fas fa-microphone"></i></a>
           <a href="/chat/<%= id %>"><i class="far fa-envelope"></i></a>
            </nav>
        <div class="container">
            <header>
                <div class="menu-container" onclick="myFunction(this)">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
                </div>
                </header>
            <div class="msg-box"></div>
            <div class="box">
                <input name="text" id="text" autocomplete="off" autocapitalize="on">
                <button class="btn"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
        <button class="add" id="add">+</button>
         
    <script src="/script.js"></script>
        <script>function myFunction(x) {
  x.classList.toggle("change");
  document.querySelector('.nav').classList.toggle("change");
}</script>
</body>
</html>