<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Call</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://kit.fontawesome.com/745bd8c243.js" crossorigin="anonymous"></script>
	<script>const myId="<%= id %>"</script>
    <style type="text/css">
    *{
    	margin:0;
		padding:0;
		box-sizing:border-box
    }
    body{
    	height: 100vh;
		width: 100%;
		position:relative;
    	overflow:hidden;
    }
    	.main-video-grid{
			display: flex;
			justify-content: center;
			align-items: center;
    		height: 100%;
    		width:100%;
		}
		.main-video-grid video {
			height: 100%;
			width:100%;
		}
    	.user-video-grid{
    		position: absolute;
    		right:0;
    		bottom:0;
    		width: 100px;
    	}	
    	.user-video-grid video{
			width: 100%;
			position: absolute;
			bottom:0;
		}
		.close{
			padding:15px;
			border-radius: 50%;
			font-size: 25px;
			border:1px solid white;
			background:red;
			color:white;
			position:absolute;
			left:10%;
			transform: translateX(-50%);
			top:10%;
		} 	
		.nav{
            position:absolute;
            left:25px;
            top:30px;
            display: flex;
            height:200px;
            font-size: 30px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width:100px;
        }
        .nav i{
            cursor:pointer;
        }
        .nav i:hover{
            color:gray;
            transition:0.2s ease all;
        }
        .add{
            border-radius: 50%;
            font-size: 50px;
            background:#4320aa;
            color:white;
            position:absolute;
            right:10%;
            top:10%;
            text-align: center;
            padding:5px 12px;
            display: none;
            border:none;
        }
		@media (max-width: 800px){
           
            .nav{
				display: none;
				background:#000;	
                height:30px;
                flex-direction: row;
                width:30%;
                transform:translateX(-100%);

            }
            .nav i{
                background:#000;
                padding:5px;
                border-radius: 30px;
            }
            .add{
                display: block;
                cursor:pointer;
                box-shadow: 0 0 5px #2342da;
                outline:none;
            }
            .add:hover{
                box-shadow: 0 0 10px #5220f2;
            }
        }
		@media (max-width: 500px){
			.user-video-grid{
				width:100px;
			}
		}
		.visible{
            transition: 10s cubic-bezier(0.6, 0.04, 0.98, 1.335) all;
            display: flex;  
            transform:translateX(50%)
        }
    </style>
</head>
<body>

	<button onclick="myfunction()" style="margin:10px;">
		<i class="fas fa-paste"></i>
		</button>
		<button class="add" id="add">+</button>
         <nav class="nav">
           <a href="/video/"><i class="fas fa-video"></i></a>
           <a href="/voice/"><i class="fas fa-microphone"></i></a>
           <a href="/chat/<%= id %>"><i class="far fa-envelope"></i></a>
            </nav>
	<input type="text" value="<%= id %>" id="input" style="border:none;color:white;pointer-events: none;opacity:0;">
		<div class="main-video-grid">
			</div>    
			<a href="/"><button class="close"><i class="fas fa-phone-slash"></i></button></a>
		
		<div class="user-video-grid">
			
		</div>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script>

	function myfunction(){
  var copyText = document.querySelector("#input");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
}

		</script>
	<script src="/video.js"></script>
</body>
</html>